body {
	  text-align: center;
    margin: auto;
    width: 100%;
    height: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
	  background-color: transparent;
}

.circle{
    background: black;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: 2%;
    left: 50%;
    margin-left: -100px;
		z-index: 0;
  }
  #logo {
      position: absolute;
      display: block;
      width: 180px;
      height: 180px;
      border-radius: 50%;
      z-index: 5;
      top: 2.9%;
      left: 50%;
      margin-left: -90px;
  }


#top_bar {
    width: 100%;
    height: 125px;
    top: 0 ;
    background-color:  #00b386;
}

#menuToggle
{
  display: block;
  position: relative;
  /*top: 50px;*/
  top: 50px;
  left: 50px;

  /*top: -35px;*/
  z-index: 1;
  width: 100px;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: white;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #00b386;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  /*position: absolute;*/
  width: 200px;
  height: 535px;
  margin: -130px 0 0 -80px;
  padding: 50px;
  padding-top: 125px;

  background: white;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 20px 0;
  font-size: 22px;
  color: black;
  margin-right: 50%;
  width: 100%;
}

#menu a {
  margin-left: 60%;
  text-decoration: none;
}

#menu li:hover {
    transition: background-color .5s ease;
    background-color: #00b386;
}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: scale(1.0, 1.0);
  opacity: 1;
}
.pagetitle{
	text-align: center;
	font-size: 72px;
	color: gray;
	margin-top: 100px;
}
.team {
    width: 100%;
    text-align: center;
    position: absolute;
    tposition: absolute;
    /*margin-top: 150px;*/
}
.team, .team tr, .team td {
}
.team td {
		vertical-align: top;
    width: 33%;
}
.team .segmenttitle {
    padding: 10px 10px 0;
		font-size: 40px;
    margin: 0;
}
.team .text {
    margin: 0;
    padding: 0 10px 10px;
}
td > .text.bio {
    font-weight: 500;
		font-style: italic;
    font-size: 25px;
    margin: 2px 0 4px;
}
.photo {
		align-self: baseline;
    width:90%;
		overflow: hidden;
    margin: 10px auto 0;
}
.photo img{
	width: 100%
}
.photo2 img:hover {
	/*transition: photo2 .5s ease;*/
    width: 100%;
}
